.contenedor-detalle{
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    .imagen{
      padding: 15px;
      flex-basis: 20%;
      img{
        display: block;
        max-width: 100%;
      }
    }
    .descripcion{
      padding: 15px;
      flex-basis: 40%;
    }
   }
   
   
   button {
    color: #221c1c;
    border-color: var(--color-1);
    background-color: var(--color-1);
    padding: 15px;
   }
   
=======
  display: flex;
  justify-content: center;
  .imagen{
    padding: 15px;
    flex-basis: 20%;
    img{
      display: block;
      max-width: 100%;
    }
  }
  .descripcion{
    padding: 15px;
    flex-basis: 40%;
  }
 }
 
 
 button {
  color: #221c1c;
  border-color: var(--color-1);
  background-color: var(--color-1);
  padding: 15px;
 }
 
>>>>>>> d532dac02b853851a67013834d7772384bdd9397
