/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
<<<<<<< HEAD

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
>>>>>>> d532dac02b853851a67013834d7772384bdd9397
